---
layout: layout.njk
title: Галерија слика
opis: Фотографије планине Вујан и Љубичине стазе.
---

<div class="gallery-container">
    <h1>Љубичина галерија слика</h1>
    <p>Фотографије које су Љубици биле драге</p>

    <div class="main-gallery-grid">
        {% for slika in galerija %}
        <a href="/images/galerija/{{ slika.fajl }}" class="gallery-item">
            <img src="/images/galerija/{{ slika.fajl }}" alt="{{ slika.opis }}">
        </a>
        {% endfor %}
    </div>
</div>
