---
layout: layout.njk
title: Почетна
opis: Љубицина стаза на планини Вујан — едукативна стаза кроз флору, фауну и историју Вујна.
---

<div class="home-grid">
    
    <div class="home-gallery">
        <img src="/images/vujan1.jpeg" alt="Vrh Vujana">
        <img src="/images/vujan2.jpeg" alt="Priroda Vujana">
        <img src="/images/vujan3.jpeg" alt="Staza kroz šumu">
        <img src="/images/vujan4.jpeg" alt="Flora staze">
    </div>

    <div class="home-text">
        <h1>Добро дошли на Љубицину стазу.</h1>
        
        <p><b>Љубица</b> је идејни творац ове стазе, а како је својом љубављу према природи и људима оставила неизбрисив траг тако је по њој и добила име. </p>
        <p>Стаза је замишљена као путовање кроз природне лепоте планине Вујан, њене историјске знаменитости, њену специфичну флору и фауну. Такође, све време пратиће вас и речи Љубице – подсетник да природу и културу треба чувати.</p> 
        <p> Док пролазите стазом, посветите тренутак тишини, мирису шуме и звуцима птица – ово је место где се природа, сећање и знање додирују. </p>

        <blockquote class="quote">
            "Прошлост истражујемо, садашњост живимо, будућност ће нам се сама представити."
        </blockquote>
        <p>И сама планина Вујан стоји као сведок времена – у својим шумама, вртовима и тишини чува трагове древних дана, док се у њеним падинамa  огледа живот садашњице и наслућује пут будућности.  Као што човек у свом бићу носи искуства својих предака, тако и Вујан у свом тлу, манастиру и камену носи причу која траје вековима.</p>
        <p> Планина Вујан представља склад природних лепота, богате историје и духовног наслеђа. Њени шумски предели, термални извори, културно-историјски споменици и пријатна клима чине је драгуљем Шумадије. Вујан је место где се природа, вера и човек спајају у јединствену целину која пружа мир, здравље и инспирацију свима који га посете.</p>
        
        <blockquote class="quote">
            "Све што сматрамо да смо започели није почетак, већ наставак једног давног процеса који и даље тече и никада се не завршава. Заправо, ништа никада није започето и никада се ништа не завршава, већ само траје – траје и исписује тренутке садашњости."
        </blockquote>

        <h2>Како до стазе</h2>
        <p>Стаза се налази у подножју планине Вујан у селу Луњевица, а детаљнија упутства можете наћи <a href="/o-stazi/#put">овде</a>.</p>

        <h2>О Љубици</h2>
        <p>Све о идејном творцу стазе, њеном путу и животу, њеним мотивационим порукама, као и о њеним вољенима
            који су њене идеје спровели у дело можете пронаћи <a href="/o-ljubici/">овде</a>.</p>
    </div>

</div>