---
layout: layout.njk
title: О стази
opis: Како је настала Љубицина стаза, како се градила, како до ње доћи и какви су планови.
---

<div class="flora-layout">
    <aside class="flora-aside">
        <nav class="sticky-side-nav">
            <h3>Каталог</h3>
            <ul>
                <li><a href="#put">Како до стазе?</a></li>
                <li><a href="#nastala">Како је настала?</a></li>
                <li><a href="#gradila">Како се градила?</a></li>
                <li><a href="#danas">Стаза данас</a></li>
                <li><a href="#planovi">Планови</a></li>
            </ul>
        </nav>
    </aside>

    <div class="flora-content">
        <h1>О стази </h1>
        <p> Рођена у глави непоправљивог заљубљеника у природу, реализована синергијом породице и пријатеља. </p>
        <section id="put" class="plant-card">
            <h2>Како до стазе?</h2>
            <p>Почетак стазе се налази у подножју Вујна у селу Луњевица. Путоказ на магистрали усмерава право на почетак стазе.</p>
            <p>На мапи се види почетак и цела траса стазе.</p>
        </section>
        <section id="nastala" class="flex-row reverse plant-card">
            <div class="flex-col">
                <img src="/images/flora/suma_bukva.png" alt="suma">
            </div>
            <div class="flex-col">
                <h2>Како је настала стаза?</h2>
                <p>Идеја о стварању едукативне стазе на Вујну насталаје прво у Љубициној визији. Прве кораке је Љубица и преузела контактирајући проф.
                    др Душка Брковића. Као неко ко je у Вујну видео инспирацију за докторску дисертацију, професор је радо прихватио Љубицину
                    идеју па су њих двоје кренули да праве прве кораке. Како Љубица није стигла да реализује своју идеју, нама је остало као
                    аманет да ову идеју оживимо.</p>
            </div>
        </section>
        <section id="gradila" class="plant-card">
            <h2>Како се стаза градила?</h2>
            <p>Стаза се стварала сама од себе, јер коме год смо се обратили за савет добили
            смо и савет и помоћ у реализацији. Свако је у стазу уградио оно што је најбоље умео.</p>
            <p>У фази осмишљавања дуго се размишљало како да се све уради да буде минимално, да се
            уклопи у околину, а да буде довољно и едукативно и лепо — а пре свега да буде корисно
            свима онима који стазом пролазе.</p>
            <p>Друга фаза је реализација.</p>
        </section>
        <section id="danas" class="plant-card">
            <h2>Стаза данас</h2>
            <p>Стаза данас обухвата 6км уређеног пута, 13 едукативних табли, 10 мотивационих порука, 3 кућице за птице и 2 хотела за инсекте.  </p>
        </section>
        <section id="planovi" class="plant-card">
            <h2>Планови</h2>
                <p>Уколико Љубицина стаза заживи и настави да окупља особе које могу да допринесу и оне који од стазе добију неку додатну вредност, 
                 стаза се може даље ширити и мапирати Вујан. Уколико желите да допринесете даљем развоју стазе, можете послати мејл. </p>
        </section>
    </div>

</div>